{% extends 'base.html' %}

{% block title %}
系统监控
{% endblock %}

{% block datapage %}
active
{% endblock %}

{% block header_extends %}

{% endblock %}

{% block content %}


<div class="container">
    <div class="panel panel-danger">
        <div class="panel-heading">
            环境温湿度
        </div>
        <div class="panel-body">
            <div id="container1" style="min-width:400px;height:180px"></div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            CPU使用情况
        </div>
        <div class="panel-body">
            <div id="container3" style="min-width:400px;height:180px"></div>
        </div>
    </div>

    <div class="panel panel-warning">
        <div class="panel-heading">
            内存使用情况
        </div>
        <div class="panel-body">
            <div id="container2" style="min-width:400px;height:180px"></div>
        </div>
    </div>




</div>


<script>
var data;
var data_now;
$.ajaxSetup({async:false});
$.getJSON("../data/datas",function(datas) {
                data = datas
            });


Highcharts.setOptions({
	global: {
		useUTC: false
	}
});

function activeLastPointToolip(chart) {
	var points = chart.series[0].points;
	chart.tooltip.refresh(points[points.length -1]);
}


Highcharts.chart('container1', {
	chart: {
		type: 'spline',
		marginRight: 10,
		events: {
			load: function () {
				var series1 = this.series[0],
                    series2 = this.series[1],
					chart = this;
				activeLastPointToolip(chart);
				setInterval(function () {
				    $.ajaxSetup({async:false});
                    $.getJSON("../data/data_now",function(data) {
                                    data_now = data
                                });
					var x = (new Date()).getTime(); // 当前时间
					series1.addPoint([x, data_now[0].T], true, true);
					series2.addPoint([x, data_now[0].H], true, true);
					activeLastPointToolip(chart);

				}, 2000);
			}
		}
	},
	title: {
		text: null
	},
	xAxis: {
		type: 'datetime',
		tickPixelInterval: 3
	},
	yAxis: {
	    tickPixelInterval: 5,
		title: {
			text: null
		}
	},
	tooltip: {
		formatter: function () {
			return '<b>' + Highcharts.numberFormat(this.y, 2) + '</b>';
		}
	},
	legend: {
		enabled: false
	},
	series: [
	    {
            name: '温度数据',
            data: (
                    function () {
                        var datas = [],
                            time = (new Date()).getTime(),
                            i;
                        for (i = -200; i < 0; i += 1) {
                            datas.push({
                                x: time + i * 2000,
                                y: data[i+200].T

                            });
                            }

                        // 生成随机值
                        return datas;
                    }()
            )
	    },
	    {
            name: '湿度数据',
            data: (
                    function () {
                        var datas = [],
                            time = (new Date()).getTime(),
                            i;
                        for (i = -200; i < 0; i += 1) {
                            datas.push({
                                x: time + i * 2000,
                                y: data[i+200].H

                            });
                            }

                        // 生成随机值
                        return datas;
                    }()
            )
	    }
	]

});


Highcharts.chart('container2', {
	chart: {
		type: 'spline',
		marginRight: 10,
		events: {
			load: function () {
				var series1 = this.series[0],
					chart = this;
				activeLastPointToolip(chart);
				setInterval(function () {
				    $.ajaxSetup({async:false});
                    $.getJSON("../data/data_now",function(data) {
                                    data_now = data
                                });
					var x = (new Date()).getTime(); // 当前时间
					series1.addPoint([x, data_now[0].CU], true, true);
					activeLastPointToolip(chart);

				}, 2000);
			}
		}
	},
	title: {
		text: null
	},
	xAxis: {
		type: 'datetime',
		tickPixelInterval: 3
	},
	yAxis: {
	    tickPixelInterval: 5,
		title: {
			text: null
		}
	},
	tooltip: {
		formatter: function () {
			return '<b>' + Highcharts.numberFormat(this.y, 2) + '</b>';
		}
	},
	legend: {
		enabled: false
	},
	series: [
	    {
            name: 'CPU数据',
            data: (
                    function () {
                        var datas = [],
                            time = (new Date()).getTime(),
                            i;
                        for (i = -200; i < 0; i += 1) {
                            datas.push({
                                x: time + i * 2000,
                                y: data[i+200].CU

                            });
                            }

                        // 生成随机值
                        return datas;
                    }()
            )
	    }
	]

});


Highcharts.chart('container3', {
	chart: {
		type: 'spline',
		marginRight: 10,
		events: {
			load: function () {
				var series1 = this.series[0],
					chart = this;
				activeLastPointToolip(chart);
				setInterval(function () {
				    $.ajaxSetup({async:false});
                    $.getJSON("../data/data_now",function(data) {
                                    data_now = data
                                });
					var x = (new Date()).getTime(); // 当前时间
					series1.addPoint([x, data_now[0].RU], true, true);
					activeLastPointToolip(chart);

				}, 2000);
			}
		}
	},
	title: {
		text: null
	},
	xAxis: {
		type: 'datetime',
		tickPixelInterval: 3
	},
	yAxis: {
	    tickPixelInterval: 5,
		title: {
			text: null
		}
	},
	tooltip: {
		formatter: function () {
			return '<b>' + Highcharts.numberFormat(this.y, 2) + '</b>';
		}
	},
	legend: {
		enabled: false
	},
	series: [
	    {
            name: '内存数据',
            data: (
                    function () {
                        var datas = [],
                            time = (new Date()).getTime(),
                            i;
                        for (i = -200; i < 0; i += 1) {
                            datas.push({
                                x: time + i * 2000,
                                y: data[i+200].RU

                            });
                            }

                        // 生成随机值
                        return datas;
                    }()
            )
	    }
	]

});
</script>

{% endblock%}
