{% extends 'base.html' %}

{% block title %}
系统监控
{% endblock %}

{% block datapage %}
active
{% endblock %}

{% block header_extends %}
<script type="text/javascript" language="javascript">
   		function update() {
   			$.getJSON("/data/",function(data) {
                $("#T").html('<span>'+ data[0].T + '</span>');
                $("#H").html('<span>'+ data[0].H + '</span>');
                $("#CT").html('<span>'+ data[0].CT + '</span>');
                $("#CU").html('<span>'+ data[0].CU + '</span>');
                $("#DT").html('<span>'+ data[0].DT + '</span>');
                $("#DU").html('<span>'+ data[0].DU + '</span>');
                $("#DF").html('<span>'+ data[0].DF + '</span>');
                $("#DP").html('<span>'+ data[0].DP + '</span>');
                $("#RT").html('<span>'+ data[0].RT + '</span>');
                $("#RU").html('<span>'+ data[0].RU + '</span>');
                $("#RF").html('<span>'+ data[0].RF + '</span>');
                $("#RP").html('<span>'+ data[0].RP + '</span>');
   			});
   		}
   		function timeDown() {
   			setTimeout(function() {
   			    update();
   			    timeDown();
   		    }, 1000)
   		}
   		$(document).ready(function() {
   			timeDown()
        });
</script>
{% endblock %}

{% block content %}

<ul>
    <li>
        <span>环境温度：</span>
        <span id="T">{{ T }}</span>
    </li>

    <li>
        <span>环境湿度：</span>
        <span id="H">{{ H }}</span>
    </li>

    <li>
        <span>CPU温度：</span>
        <span id="CT">{{ CT }}</span>
    </li>

    <li>
        <span>CPU使用：</span>
        <span id="CU">{{ CU }}</span>
    </li>

    <li>
        <span>内存总量:</span>
        <span id="RT">{{ RT }}</span>
    </li>

    <li>
        <span>内存使用：</span>
        <span id="RU">{{ RU }}</span>
    </li>

    <li>
        <span>内存剩余：</span>
        <span id="RF">{{ RF }}</span>
    </li>

    <li>
        <span>内存百分比：</span>
        <span id="RP">{{ RP }}</span>
    </li>

    <li>
        <span>硬盘总量：</span>
        <span id="DT">{{ DT }}</span>
    </li>

    <li>
        <span>硬盘使用：</span>
        <span id="DU">{{ DU }}</span>
    </li>

    <li>
        <span>硬盘剩余：</span>
        <span id="DF">{{ DF }}</span>
    </li>

    <li>
        <span>硬盘百分比：</span>
        <span id="DP">{{ DP }}</span>
    </li>
</ul>
{% endblock%}
